# @Boyang
# To ignore phpmyadmin
phpMyAdmin/

###################################################
## Linux.gitignore
###################################################
.*
!.gitignore
*~

###################################################
## OSX.gitignore
###################################################
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

###################################################
## Windows.gitignore
###################################################
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/

###################################################
## Vim.gitignore
###################################################
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#*************************************************#

###################################################
## Channels.gitignore
###################################################
node_modules
exclude
certs
localconfig.php
log.txt
errors.log
success.txt
fail.txt