/** User Info **/
#userInfoDiv{
	padding-top: 10px;
	height: 60px;
	padding-bottom: 10px;
	border-bottom: 1px dashed grey;
}
#userInfoImage{
	width: 40px;
	height: 40px;
	max-width: 100%;
	position: absolute;
	left: 20px;
}
#userInfoName{
	padding-top: 1px;
	width: 120px;
	height: auto;
	position: absolute;
	font-size: 16px;
	font-family: HelveticaNeue-Light, Verdana, sans-serif;
	color: #575757;
	left: 70px;
}

/** Titles and names **/
#addTaskTitle{
	padding-left: 25px;
	padding-top: 20px;
	color: #575757;
	font-size: 14px;
	font-family: HelveticaNeue-Bold, Verdana, sans-serif;
	width: 150px;
}
#topbarTitle{
	width: 124px;
	padding-top: 5px;
	margin-left: -62px;
	font-family: HelveticaNeue-Bold, Verdana, sans-serif;
	font-size: 30px;
	color: white;
	display: inline;
	position: absolute;
	left: 50%;
}
#addWorkflowTitle{
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #575757;
	font-size: 14px;
	font-family: HelveticaNeue-Bold;
	width: 150px;
}
.workflowName{
	padding-left: 25px;
	padding-top: 15px;
	color: #575757;
	font-size: 18px;
	font-family: HelveticaNeue-Light;
	width: 150px;
}

/** Footer **/
.bottombar { /* currently unused */
	height: 30px;
	font-size: 1.2em;
	padding: 5px;
}

/* Main content */
.super-container {
	position: absolute;
	top: 44px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}
.workflowView{
	width: 100%;
	top: 0px;
	bottom: 0px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
}

/** Task entry **/
.task{
	width: 250px;
	height: 250px;
	position: absolute;
	left: 200px;
	top: 50px;
	border: 1px solid transparent;
}
.task .infoDiv{
	width: auto;
	height: 20px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	opacity: 0;
}
.task .taskUserDiv{
	width: auto;
	height: 20px;
	display: inline;
}
.task .taskUserIcon{
	width: auto;
	height: 20px;
	max-width: 100%;
	display: inline;
	padding-right: 5px;
}
.task .taskUsername{
	height: 20px;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 17px;
	color: #8d8344;
	display: inline;
	vertical-align: top;
}
.task .taskText{
	width: 90%;
	height: 80%;
	left: 5%;
	top: 5%;
	position: absolute;
	font-size: 1.4em;
	font-family: HelveticaNeue-Light, Verdana, sans-serif;
	overflow: hidden;
	word-wrap: break-word;
}

/** JQuery UI Draggable/resizable overrides **/
.ui-state-disabled.ui-draggable-disabled {
	opacity : 1;
}
.task.ui-draggable-dragging { /* Semi transparent style when dragging */
	opacity: 0.7;
}
.ui-resizable-handle {
	z-index: auto !important;
}

/** Helper toolbar **/
.helpertoolbar {
	display: none;
	color: #fff;
	position: absolute;
	padding: 5px;
	background-color: #000;
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,0.6)), color-stop(20%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.3)));
	background: -webkit-linear-gradient(to right, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.3) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.3) 100%);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	border-radius: 10px;
	z-index: 100;
	line-height: 0;
	white-space: nowrap
}
.helpertoolbar .colorbutton {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	border-radius: 5px;
}
.helpertoolbar .colorbutton.active {
	border: 1px solid #f30;
}

/** Login prompt **/
#loginPrompt {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
}
#loginPrompt .window {
	width: 400px;
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
#loginPrompt .window h2 {
	font-size: 1.4em;
	color #777;
	background-color: #eee;
	margin: 0px;
	padding: 5px 10px;
	display: block;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	border-radius: 10px 10px 0px 0px;
}
#loginPrompt .window-content {
	padding: 10px 30px;
}
#loginPrompt .window-content .option {
	border: 1px solid #ccc;
	display: block;
	padding: 10px;
	width: 100%;
	text-decoration: none;
	color: #777;
	background-color: #eee;
	background: linear-gradient(to bottom, #fcfcfc 0%, #eee 100%);
	border-radius: 5px;
	margin-top: 10px;
}
#loginPrompt .window-content .option:active{
	background: linear-gradient(to bottom, #eee 0%, #fcfcfc 100%);
}
#loginPrompt p {
	margin: 0px;
	padding: 0px;
}
#loginPrompt .window-content .option-text {
	display: block;
	margin-top: 30px;
	text-decoration: none;
}

/** Task deletion bar **/
#deleteTaskIcon {
	display: none;
	width: 90px;
	background-color: #000;
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(150,28,0,0.6)), color-stop(20%,rgba(150,28,0,0.5)), color-stop(100%,rgba(150,28,0,0.3)));
	background: -webkit-linear-gradient(to right, rgba(150,28,0,0.6) 1%, rgba(150,28,0,0.5) 20%,rgba(150,28,0,0.3) 100%);
	background: linear-gradient(to right, rgba(150,28,0,0.6) 1%, rgba(150,28,0,0.5) 20%,rgba(150,28,0,0.3) 100%);
	box-shadow: 3px 2px 2px rgba(0,0,0,0.5);
	border-radius: 0px 10px 10px 0px;
	top: 20px;
	bottom: 20px;
	position: absolute;
	z-index: 11;
}
#deleteTaskIcon.active {
	background-color: rgba(150,28,0,0.8);
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(150,28,0,0.8)), color-stop(20%,rgba(150,28,0,0.7)), color-stop(100%,rgba(150,28,0,0.5)));
	background: -webkit-linear-gradient(to right, rgba(150,28,0,0.8) 1%, rgba(150,28,0,0.7) 20%,rgba(150,28,0,0.5) 100%);
	background: linear-gradient(to right, rgba(150,28,0,0.8) 1%, rgba(150,28,0,0.7) 20%,rgba(150,28,0,0.5) 100%);
}
#deleteTaskIcon #deleteTaskContainer{
	width: 64px;
	height: 64px;
	top: 50%;
	margin-left: 12px;
	margin-top: -32px;
	position: absolute;
}

/** Instructions **/
#dragInstructions{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	display: none;
	max-width: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	background-image:url('../img/dragInstructions.png');
	background-repeat: no-repeat;
	background-position: center;
}
#taskInstructions{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0px;
	bottom: 0px;
	font-size: 2.3em;
	font-family: HelveticaNeue-Light, Verdana, sans-serif;
	color: #fff;
}

/* Make it easier to resize if task is selected */
.selected .ui-resizable-s {
	bottom: 0;
	height: 16px
}
.selected .ui-resizable-e {
	right: 0;
	width: 16px;
}

/** Task add bar (side bar) **/
#sidebarView {
	width: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0px;
	bottom: 0px;
	position: absolute;
	z-index: 110;
}
#sidebarView #addTaskDiv {
	display: table-cell;
	vertical-align: middle;
	background-color: #000;
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,0.6)), color-stop(20%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.3))); /* Mobile Safari */
	background: -webkit-linear-gradient(to right, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.3) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.3) 100%);
	box-shadow: 3px 2px 2px rgba(0,0,0,0.5);
	border-radius: 0px 10px 10px 0px;
	height: 100%;
	padding: 5px;
	line-height: 0px;
}
#sidebarView .addTaskDiv{
	cursor: pointer;
	display: inline-block;
}
#sidebarView .addTaskContainer{
	width: 64px;
	height: 64px;
	margin: 5px;
}

/*
Color sets for tasks
[color]: [light], [dark], [border], [darkborder]
Yellow: fdfdcb, fcf9a1, e8e66e, a7a51c
Pink: f5d2f5, ebaeeb, e2a6e2, bb5cbb
Green: cffdc9, b1e8ae, 9be895, 4fb746
Blue: d7f2fa, b8dbf4, 7bc4dd, 4ea5c3
Purple: ddd9fe, c6b8fe, 9e8aeb, 7158d5
White: fefefe, ebebeb, d7d7d7, a2a2a2
*/
.task { 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	
	/* Fallback to yellow */
	border: 1px solid #e8e66e;
	background-color: #fdfdcb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdcb), color-stop(100%,#fcf9a1));
	background: -webkit-linear-gradient(top, #fdfdcb 0%,#fcf9a1 100%);
	background: linear-gradient(to bottom, #fdfdcb 0%,#fcf9a1 100%);
}
.task.selected {
	border: 1px solid #a7a51c;
}
.task-yellow {
	border: 1px solid #e8e66e;
	background-color: #fdfdcb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdcb), color-stop(100%,#fcf9a1));
	background: -webkit-linear-gradient(top, #fdfdcb 0%,#fcf9a1 100%);
	background: linear-gradient(to bottom, #fdfdcb 0%,#fcf9a1 100%);
}
.task-yellow.selected {
	border: 1px solid #a7a51c;
}
.task-red {
	border: 1px solid #e2a6e2;
	background: #f5d2f5;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f5d2f5), color-stop(100%,#ebaeeb));
	background: -webkit-linear-gradient(top, #f5d2f5 1%,#ebaeeb 100%);
	background: linear-gradient(to bottom, #f5d2f5 1%,#ebaeeb 100%);
}
.task-red.selected {
	border: 1px solid #bb5cbb;
}
.task-green {
	border: 1px solid #9be895;
	background: #cffdc9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#cffdc9), color-stop(100%,#b1e8ae));
	background: -webkit-linear-gradient(top, #cffdc9 1%,#b1e8ae 100%);
	background: linear-gradient(to bottom, #cffdc9 1%,#b1e8ae 100%);
}
.task-green.selected {
	border: 1px solid #4fb746;
}
.task-blue {
	border: 1px solid #7bc4dd;
	background: #d7f2fa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d7f2fa), color-stop(100%,#b8dbf4));
	background: -webkit-linear-gradient(top, #d7f2fa 1%,#b8dbf4 100%);
	background: linear-gradient(to bottom, #d7f2fa 1%,#b8dbf4 100%);
}
.task-blue.selected {
	border: 1px solid #4ea5c3;
}
.task-purple {
	border: 1px solid #9e8aeb;
	background: #ddd9fe;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ddd9fe), color-stop(100%,#c6b8fe));
	background: -webkit-linear-gradient(top, #ddd9fe 1%,#c6b8fe 100%);
	background: linear-gradient(to bottom, #ddd9fe 1%,#c6b8fe 100%);
}
.task-purple.selected {
	border: 1px solid #7158d5;
}
.task-white {
	border: 1px solid #999;
	background: #fefefe;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(100%,#ebebeb));
	background: -webkit-linear-gradient(top, #fefefe 1%,#ebebeb 100%);
	background: linear-gradient(to bottom, #fefefe 1%,#ebebeb 100%);
}
.task-white.selected {
	border: 1px solid #777;
}

/* Top bar */
#topbarView {
	position: absolute;
	height: 44px;
	bottom: 44px;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
	background-color: #303030;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#505050), color-stop(60%,#404040), color-stop(100%,#303030));
	background: -webkit-linear-gradient(to bottom,#505050 0%, #404040 60%, #303030 100%);
	background: linear-gradient(to bottom,#505050 0%, #404040 60%, #303030 100%);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);	
}
#topbarView .smallicon {
	width: 24px; 
	height: 24px; 
	margin-top: 10px; 
	margin-left: 10px;
}

.workflowName{
	color: white;
}

#workflowSelectorIcon{
	position: absolute;
	right: 10px;
	width: auto;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	top: 9px;
	background-color: #303030;
	border-radius: 4px;
	border: 1px solid black;
	font-size: 16px;
	font-family: Helvetica, Verdana, sans-serif;
	color: white;
	padding-top: 5px;
	vertical-align: middle;
}

#addWorkflowIcon{
	color: white;
	position: absolute;
	right: 15px;
	bottom: 10px;
	font-family: HelveticaNeue-UltraLight, Verdana, sans-serif;
}

#workflowTableContainer{
	position: absolute;
	top: 20px;
	width: 270px;
	height: 240px;
	overflow: auto;
}


#workflowSelectorBox{
	width: 180px;
	height: 280px;
	padding: 10px;
	padding-top: 20px;
	position: absolute;
	color: white;
	right: 10px;
	top: 50px;
	background-color: #303030;
	border: 1px solid black;
	border-radius: 5px;
	overflow: auto;
	overflow-x: hidden;
	display: none;
}

#workflowTable{
	width: 160px;
	overflow: auto;
}

/* iOS7 Safari fix */
.ios7fixer {
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}