#topbarView{
	height: 44px;
	width: 100%;
	/*position: fixed;*/ /* Disabled to prevent mobile keyboard distorting display */
	background-color: black;
	left: 0px;
	top: 0px;
	z-index: 1000;
}

#sidebarView{
	height: 100%;
	width: 130px;
	position: fixed;
	background-color: black;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 1;
}

#addTaskIcon{
	width: 200px;
	height: 200px;
	left: 200px;
	top: 50px;
	position: absolute;
	cursor: pointer;
	border: 5px dotted grey;
}

#addTaskContainer{
	width: 200px;
	height: 200px;
	left: 0px;
	top: -35px;
	position: absolute;
	font-size: 200px;
	text-align: center;
	font-family: Helvetica;
	color: grey;
}

.workflowView{
	width: 100%;
	/*height: 100%;*/
	top: 44px; /* Fix for mobile keyboard distorting view*/
	bottom: 0px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	/*left: 0px;
	top: 0px;*/
}

.task{
	width: 300px;
	height: 300px;
	position: absolute;
	background-color: rgba(255,255,0,0.5);
	left: 200px;
	top: 50px;
	border: 1px solid transparent;
}

.task.selected {
	border: 1px solid #ccc;
}

.taskText{
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	position: absolute;
	font-size: 24px;
	font-family: HelveticaNeue-Light;
	overflow: hidden;
}
.taskText.selected{
	border: 1px solid #ccc;
	background-color: #fff;
}

.ui-state-disabled.ui-draggable-disabled {
	opacity : 1;
}