body{
	/*background-image: url('../img/background.png');*/
	background-image: url('../img/background.jpg'); /* Switch to compressed version for fast loading */
}

#topbarView{
	height: 40px;
	width: 100%;
	/*position: fixed;*/ /* Disabled to prevent mobile keyboard distorting display */
	background-color: #303030;
	/*background-image: url('../img/topbar.png');*/
	left: 0px;
	top: 0px;
	z-index: 1000;
}

#sidebarView{
	height: 100%;
	width: 200px;
	position: fixed;
	background-color: #e8dfd0;
	border-left: 1px solid #9a876d;
	border-right: 1px solid #9a876d;
	left: 20px;
	box-shadow: 3px 0px 2px #735734,-3px 0px 2px #735734;
	top: 0px;
	position: fixed;
	z-index: 11;
}

#userInfoDiv{
	padding-top: 10px;
	height: 60px;
	padding-bottom: 10px;
	border-bottom: 1px dashed grey;
}

#userInfoImage{
	width: 40px;
	height: 40px;
	max-width: 100%;
	position: absolute;
	left: 20px;
}

#userInfoName{
	padding-top: 1px;
	width: 120px;
	height: auto;
	position: absolute;
	font-size: 16px;
	font-family: HelveticaNeue-Light;
	color: #575757;
	left: 70px;
}

#addTaskTitle{
	padding-left: 25px;
	padding-top: 20px;
	color: #575757;
	font-size: 14px;
	font-family: HelveticaNeue-Bold;
	width: 150px;
}

#addTaskDiv{
	width: 180px;
	padding-left: 10px;
	border-bottom: 1px dashed grey;
	padding-bottom: 20px;
}

#taskInstructions{
	width: 170px;
	padding-left: 10px;
	font-size: 12px;
	font-family: HelveticaNeue-Light;
	color: #747474;
}

#topbarTitle{
	width: 124px;
	padding-top: 5px;
	margin-left: -62px;
	font-family: HelveticaNeue-Bold;
	font-size: 30px;
	color: white;
	display: inline;
	position: absolute;
	left: 50%;
}

#addWorkflowTitle{
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #575757;
	font-size: 14px;
	font-family: HelveticaNeue-Bold;
	width: 150px;
}

.workflowView{
	width: 100%;
	height: 100%;
	/*top: 44px; Fix for mobile keyboard distorting view*/
	bottom: 0px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	/*left: 0px;
	top: 0px;*/
}

.workflowName{
	padding-left: 25px;
	padding-top: 15px;
	color: #575757;
	font-size: 18px;
	font-family: HelveticaNeue-Light;
	width: 150px;
}

.task{
	width: 250px;
	height: 250px;
	position: absolute;
	/*background-color: rgba(255,255,0,0.5)*/;
	left: 200px;
	top: 50px;
	border: 1px solid transparent;
}

.infoDiv{
	width: auto;
	height: 20px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.taskUserDiv{
	width: auto;
	height: 20px;
	display: inline;
}

.taskUserIcon{
	width: auto;
	height: 20px;
	max-width: 100%;
	display: inline;
	padding-right: 5px;
}

.taskUsername{
	height: 20px;
	font-family: Helvetica;
	font-size: 17px;
	color: #8d8344;
	display: inline;
	vertical-align: top;
}

.taskText{
	width: 90%;
	height: 80%;
	left: 5%;
	top: 5%;
	position: absolute;
	font-size: 24px;
	font-family: HelveticaNeue-Light;
	overflow: hidden;
	word-wrap: break-word;
}

.ui-state-disabled.ui-draggable-disabled {
	opacity : 1;
}