/* Overrides */
.task.selected {
	border: 1px solid #a7a51c;
}
.taskText.selected{
	/*border: 1px solid #e8e66e;
	background-color: #fff;
	border-radius: 10px;*/
}
.taskText {
	font-family: HelveticaNeue-Light, Verdana, sans-serif;
}
.task {
	border: 1px solid #e8e66e;
	background-color: rgba(248,247,182,1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdcb), color-stop(100%,#fcf9a1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fdfdcb 0%,#fcf9a1 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #fdfdcb 0%,#fcf9a1 100%); /* W3C */
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.task.ui-draggable-dragging { /* Semi transparent style when dragging */
	opacity: 0.7;
}
#addTaskIconYellow {
	width: 80px;
	height: 80px;
	left: 50%;
	margin-left: -40px;
	top: 50px;
	position: absolute;
	cursor: pointer;
}

#addTaskIconRed {
	width: 80px;
	height: 80px;
	left: 50%;
	margin-left: -40px;
	top: 150px;
	position: absolute;
	cursor: pointer;
}

#addTaskIconBlue {
	width: 80px;
	height: 80px;
	left: 50%;
	margin-left: -40px;
	top: 250px;
	position: absolute;
	cursor: pointer;
}

.addTaskContainer{
	width: 60px;
	height: 60px;
	left: 10px;
	top: 10px;
	position: absolute;
	max-width: 100%;
}

#deleteTaskIcon {
	display: none;
	width: 125px;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	background-color: rgba(0,0,0,0.9);
}
#deleteTaskContainer{
	width: 80px;
	height: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	position: absolute;
	max-width: 100%;
}
#deleteTaskIcon.active {
	/*border: 5px dotted maroon;*/
	background-color: #961c00;
}
/* Make it easier to resize if task is selected */
.selected .ui-resizable-s {
	bottom: 0;
	height: 16px
}
.selected .ui-resizable-e {
	right: 0;
	width: 16px;
}
/*
Color sets for tasks
[color]: [light], [dark], [border], [darkborder]
Yellow: fdfdcb, fcf9a1, e8e66e, a7a51c
Pink: ebaeeb, f5d2f5, e2a6e2, bb5cbb
Green: cffdc9, b1e8ae, 9be895, 4fb746
Blue: d7f2fa, b8dbf4, 7bc4dd, 4ea5c3
Purple: ddd9fe, c6b8fe, 9e8aeb, 7158d5
White: fefefe, ebebeb, d7d7d7, a2a2a2
*/
