/* Overrides */
body {
	font-family: HelveticaNeue-Light, Verdana, sans-serif;
}
.task.selected {
	border: 1px solid #a7a51c;
}
.taskText.selected{
	/*border: 1px solid #e8e66e;
	background-color: #fff;
	border-radius: 10px;*/
}
.taskText {
	font-family: HelveticaNeue-Light, Verdana, sans-serif;
}


.task {
	border: 1px solid #e8e66e;
	background-color: rgba(248,247,182,1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdcb), color-stop(100%,#fcf9a1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fdfdcb 0%,#fcf9a1 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #fdfdcb 0%,#fcf9a1 100%); /* W3C */
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.task.ui-draggable-dragging { /* Semi transparent style when dragging */
	opacity: 0.7;
}

.addTaskDiv{
	/*width: 40px;
	height: 40px;*/
	cursor: pointer;
	/*display: inline;*/
	/*display: block;*/
	display: inline-block;
	/*padding: 6px;*/
}

.addTaskContainer{
/*
	width: 40px;
	height: 40px;
	*/
	width: 64px;
	height: 64px;
	margin: 5px;
	/*max-width: 100%;*/
}

.ui-resizable-handle {
	z-index: auto !important;
}

.stroke {
	text-shadow:
   -1px -1px 0 rgba(0,0,0,0.6),  
    1px -1px 0 rgba(0,0,0,0.6),
    -1px 1px 0 rgba(0,0,0,0.6),
     1px 1px 0 rgba(0,0,0,0.6);
}

/** Login prompt **/
.mid {
	display: table;
	text-align: center;
	height: 100%;
	margin: auto;
}
.mid .cell {
	display: table-cell;
	vertical-align: middle;
}
#loginPrompt {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
}
#loginPrompt .window {
	width: 400px;
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
#loginPrompt .window h2 {
	font-size: 1.4em;
	color #777;
	background-color: #eee;
	margin: 0px;
	padding: 5px 10px;
	display: block;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	border-radius: 10px 10px 0px 0px;
}
#loginPrompt .window-content {
	padding: 10px 30px;
}
#loginPrompt .window-content .option {
	border: 1px solid #ccc;
	display: block;
	padding: 10px;
	width: 100%;
	text-decoration: none;
	color: #777;
	background-color: #eee;
	background: linear-gradient(to bottom, #fcfcfc 0%, #eee 100%);
	border-radius: 5px;
	margin-top: 10px;
}
#loginPrompt .window-content .option:active{
	background: linear-gradient(to bottom, #eee 0%, #fcfcfc 100%);
}
#loginPrompt p {
	margin: 0px;
	padding: 0px;
}
#loginPrompt .window-content .option-text {
	display: block;
	margin-top: 30px;
	text-decoration: none;
}

/** Task deletion **/

#deleteTaskIcon {
/*
	display: none;
	width: 80px;
	text-align: center;
	
	padding: 10px;
	height: 100%;
	left: 0px;
	top: 44px;
	position: fixed;
	background-color: rgba(0,0,0,0.9);
	*/
	
	display: none;
	width: 90px;
	background-color: #000;
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(150,28,0,0.6)), color-stop(20%,rgba(150,28,0,0.5)), color-stop(100%,rgba(150,28,0,0.3))); /* Mobile Safari */
	background: -webkit-linear-gradient(to right, rgba(150,28,0,0.6) 1%, rgba(150,28,0,0.5) 20%,rgba(150,28,0,0.3) 100%);
	background: linear-gradient(to right, rgba(150,28,0,0.6) 1%, rgba(150,28,0,0.5) 20%,rgba(150,28,0,0.3) 100%);
	box-shadow: 3px 2px 2px rgba(0,0,0,0.5);
	border-radius: 0px 10px 10px 0px;
	
	top: 64px;
	bottom: 20px;
	position: fixed;
	z-index: 11;
}
#deleteTaskContainer{
	width: 64px;
	height: 64px;
	top: 50%;
	/*margin-left: -32px;*/
	margin-left: 12px;
	margin-top: -32px;
	position: absolute;
}

#deleteTaskIcon.active {
	/*border: 5px dotted maroon;*/
	/*background-color: #961c00;*/
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(150,28,0,0.8)), color-stop(20%,rgba(150,28,0,0.7)), color-stop(100%,rgba(150,28,0,0.5))); /* Mobile Safari */
	background: -webkit-linear-gradient(to right, rgba(150,28,0,0.8) 1%, rgba(150,28,0,0.7) 20%,rgba(150,28,0,0.5) 100%);
	background: linear-gradient(to right, rgba(150,28,0,0.8) 1%, rgba(150,28,0,0.7) 20%,rgba(150,28,0,0.5) 100%);
}

#dragInstructions{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	max-width: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	background-image:url('../img/dragInstructions.png');
	background-repeat: no-repeat;
	background-position: center;
}

/* Make it easier to resize if task is selected */
.selected .ui-resizable-s {
	bottom: 0;
	height: 16px
}
.selected .ui-resizable-e {
	right: 0;
	width: 16px;
}
/** Comment out to disable top-bar **/

#topbarView{
	position: relative;
	height: 44px;
}
.super-container {
	position: absolute;
	top: 44px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.smallicon {
	width: 24px; 
	height: 24px; 
	margin-top: 10px; 
	margin-left: 10px;
}
#sidebarView{
	width: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
	/*
	top: 64px;
	bottom: 20px;*/
	
	top: 44px;
	bottom: 0px;
	position: fixed;
	z-index: 110;
	
}
#sidebarView #addTaskDiv {
	display: table-cell;
	vertical-align: middle;
	background-color: #000;
	
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,0.6)), color-stop(20%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.3))); /* Mobile Safari */
	background: -webkit-linear-gradient(to right, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.3) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.3) 100%);
	box-shadow: 3px 2px 2px rgba(0,0,0,0.5);
	border-radius: 0px 10px 10px 0px;
	height: 100%;
	padding: 5px;
	/*overflow: hidden;*/
	/*
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	*/
}

#taskInstructions{
	position: absolute;
	text-align: center;
	/*height: 100%;*/
	width: 100%;
	top: 0px;
	bottom: 0px;
	/*padding-top: 3em;*/
	
	font-size: 2.3em;
	font-family: HelveticaNeue-Light, Verdana, sans-serif;
	color: #fff;
}

/*
Color sets for tasks
[color]: [light], [dark], [border], [darkborder]
Yellow: fdfdcb, fcf9a1, e8e66e, a7a51c
Pink: f5d2f5, ebaeeb, e2a6e2, bb5cbb
Green: cffdc9, b1e8ae, 9be895, 4fb746
Blue: d7f2fa, b8dbf4, 7bc4dd, 4ea5c3
Purple: ddd9fe, c6b8fe, 9e8aeb, 7158d5
White: fefefe, ebebeb, d7d7d7, a2a2a2
*/
.task-red {
	border: 1px solid #e2a6e2;
	background: #f5d2f5; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f5d2f5), color-stop(100%,#ebaeeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5d2f5 1%,#ebaeeb 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #f5d2f5 1%,#ebaeeb 100%); /* W3C */
}
.task-green {
	border: 1px solid #9be895;
	background: #cffdc9; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#cffdc9), color-stop(100%,#b1e8ae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cffdc9 1%,#b1e8ae 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #cffdc9 1%,#b1e8ae 100%); /* W3C */
}
.task-blue {
	border: 1px solid #7bc4dd;
	background: #d7f2fa; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d7f2fa), color-stop(100%,#b8dbf4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d7f2fa 1%,#b8dbf4 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #d7f2fa 1%,#b8dbf4 100%); /* W3C */
}
.task-purple {
	border: 1px solid #9e8aeb;
	background: #ddd9fe; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ddd9fe), color-stop(100%,#c6b8fe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ddd9fe 1%,#c6b8fe 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #ddd9fe 1%,#c6b8fe 100%); /* W3C */
}
.task-white {
	border: 1px solid #d7d7d7;
	background: #fefefe; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 1%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #fefefe 1%,#ebebeb 100%); /* W3C */
}

.infoDiv { /* Hide, since not using currently */
	opacity: 0;
}

#topbarView {
	background-color: #303030;
	/*background: linear-gradient(to bottom, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.3) 100%);*/
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#505050), color-stop(60%,#404040), color-stop(100%,#303030));
	background: -webkit-linear-gradient(to bottom,#505050 0%, #404040 60%, #303030 100%);
	background: linear-gradient(to bottom,#505050 0%, #404040 60%, #303030 100%);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);	
}