html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: HelveticaNeue-Light, Verdana, sans-serif;
	background-image: url('../img/background.jpg');
}
#dummyinput { /* For hiding keyboard in iOS5 */
	opacity: 0;
	float: left;
}
/** Generics **/
.stroke { /* Give a outline to the text */
	text-shadow: -1px -1px 0 rgba(0,0,0,0.6), 1px -1px 0 rgba(0,0,0,0.6), -1px 1px 0 rgba(0,0,0,0.6), 1px 1px 0 rgba(0,0,0,0.6);
}
.round { /* Give rounded corners */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.box { /* Make outer width = specified width */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.hidden { /* Hide the element */
	display: none;
}
.mid { /* Make everything inside centered horizontally */
	display: table;
	text-align: center;
	height: 100%;
	margin: auto;
}
.mid .cell { /* Make everything inside centered vertically */
	display: table-cell;
	vertical-align: middle;
}
.right { /* Put object on right */
	float: right;
}
.left { /* Put object on left */
	float: left;
}
.clear { /* Make parent layer have correct dynamic height if using floats */
	clear: both;
	font-size: 1px;
}

.floatLeft{ float:left; }
.floatNone{ float:none; }
