html, body {
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	height: 100%;
}
.round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.maintable {
	width: 100%;
	height: 100%;
}
.maintable .content {
	/*height: 100%;*/
	
	background: #eee;
}
.addButton {
	width: 100%;
}
.header td {
	padding: 5px;
	font-size: 1.2em;
	background-color: #777;
	height: 30px;
}
.header td input {
	font-size: 1.2em;
}
#entryBox {
	width: 100%;
}
#listings {
	height: 100%;
	overflow: auto;
}
#listings .entry {
	background: #fff;
	border: 1px solid #ccc;
	margin: 5px;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	font-size: 1.2em;
	position: relative;
}
#listings .entry:active {/*for testing*/
	border: 1px solid #069;
	box-shadow: 0 2px 2px rgba(0,40,100,0.5);
}
#listings .entry-active {
	border: 1px solid #069;
	box-shadow: 0 2px 2px rgba(0,40,100,0.5);
}
#listings .entry-active .entrytext {
	display: none;
}
#listings .entry-active .deleteButton {
	display: inline-block;
}
#listings .entry-active .editbox {
	display: inline-block;
}
#listings .entrytext {
	float: left;
}
#listings .deleteButton {
	display: none;
	display: inline-block;
	position: absolute;
	right: 10px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	color: #c00;
}
#listings  .editbox {
	display: none;
	width: 100%;
}
#listings .editbox input {
	font-size: 1em;
	width: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-family: verdana;
}
#listings .clear {
	clear: both;
	font-size: 1px;
}