/* @boyang 
	feel free to change these*/
.authTrigger {
	position: absolute;
	right: 0%;
	top: 50%;
}
.authTrigger .loginBtn {
	font-size: 1.2em;
}
#authForm {
	font-family: consolas;
}
/* the overlayed element */
.simpleOverlay {
	/* must be initially hidden */
	display:none;
 
	/* place overlay on top of other elements */
	z-index:10000;
 
	/* styling */
	/*background-color:#333;*/
 
	/*width:675px;*/
	/*min-height:200px;*/
	border:1px solid #666;
 
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}
 
/* close button positioned on upper right corner */
.simpleOverlay .close {
	background-image:url(/img/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/* @boyang end*/

html, body {
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	height: 100%;
}
.round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.maintable {
	width: 100%;
	height: 100%;
}
.maintable .content {
	/*height: 100%;*/
	
	background: #eee;
}
.addButton {
	width: 100%;
}
.bottombar {
	height: 30px;
	font-size: 1.2em;
	padding: 5px;
}
.header td {
	padding: 5px;
	font-size: 1.2em;
	background-color: #777;
	height: 30px;
}
.header td input {
	font-size: 1.2em;
}
.twitter-typeahead {
	/*background-color: #fff;*/
	/*background-color: rgba(255,255,255,0);*/
}
.tt-hint {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
}
#entryBox {
	width: 100%;
	/*background-color: rgba(255,255,255,1);
	background-color: rgba(255,255,255,0);*/
}
#listings {
	height: 100%;
	overflow: auto;
}
#listings .entry {
	background: #fff;
	border: 1px solid #ccc;
	margin: 5px;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	font-size: 1.2em;
	position: relative;
}
#listings .entry:active {/*for testing*/
	border: 1px solid #069;
	box-shadow: 0 2px 2px rgba(0,40,100,0.5);
}
#listings .entry-active {
	border: 1px solid #069;
	box-shadow: 0 2px 2px rgba(0,40,100,0.5);
}
#listings .entry-active .entrytext {
	display: none;
}
#listings .entry-active .deleteButton {
	display: inline-block;
}
#listings .entry-active .editbox {
	display: inline-block;
}
#listings .entrytext {
	float: left;
}
#listings .deleteButton {
	display: none;
	display: inline-block;
	position: absolute;
	right: 10px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	color: #c00;
}
#listings  .editbox {
	display: none;
	width: 100%;
}
#listings .editbox input {
	font-size: 1em;
	width: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-family: verdana;
}
#listings .clear {
	clear: both;
	font-size: 1px;
}