html, body {
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	height: 100%;
}
.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.maintable {
	width: 100%;
	height: 100%;
}
.maintable .content {
	/*height: 100%;*/
	
	background: #eee;
}
.addButton {
	width: 100%;
}
.header td {
	padding: 5px;
	font-size: 1.2em;
	background-color: #777;
	height: 30px;
}
.header td input {
	font-size: 1.2em;
}
#entryBox {
	/*width: 100%;*/
	width: 100%;

}
#listings {
	height: 100%;
	overflow: auto;
}
#listings .entry {
	background: #fff;
	border: 1px solid #ccc;
	margin: 5px;
	margin-bottom: 10px;
	padding: 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	font-size: 1.2em;
}
.deleteButton {
	float: right;
	text-decoration: none;
	color: #c00;
}
.editbox {
	display: none;
}